<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>jobId</includeMdcKeyName>
            <includeMdcKeyName>provider</includeMdcKeyName>
            <includeMdcKeyName>stage</includeMdcKeyName>
            <includeMdcKeyName>attempt</includeMdcKeyName>
            <includeMdcKeyName>clubSlug</includeMdcKeyName>
            <includeMdcKeyName>sessionId</includeMdcKeyName>
            <includeMdcKeyName>actorId</includeMdcKeyName>
            <includeMdcKeyName>source</includeMdcKeyName>
            <includeMdcKeyName>eventType</includeMdcKeyName>
            <fieldNames>
                <timestamp>ts</timestamp>
                <message>msg</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
